ul{
    list-style-type: none;
    margin-left: 15px;
    margin-top: 15px;
}

li{
    margin-bottom: 20px;
}

.loc{
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;
    border-bottom-right-radius: 12px;
    width: 212px;
    height: 336px;
    position: sticky;
    top: 0;
    float: left;
}

.icon{
    margin-right: 10px;
    cursor: pointer;
}