.loc{
    justify-content: center;
    align-items: center;
    padding-left:220px;
    padding-top: 20px;
    padding-right: 40px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding-bottom: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.b{
    width: 300px;
}

.noData{
    font-size: 40px;
    font-weight: 600;
    color: red;
    text-align: center;
    padding-top: 40px;
}

.tool{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}