.loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p {
    color: white;
    
}

.rLoc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.lLoc {
    margin-left: 20px;
}

.content {
    
    align-items: center;
    margin: 0 20px;
}

.total{
    margin-top: 15px;
    text-align: end;
    /* Сделать текст пожирнее и крупнее */
    font-size: 20px;
    font-weight: 600;
    
}