.loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p {
    color: white;
    
}

.rLoc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.lLoc {
    margin-left: 20px;
}

.icon{
    
}